/* this is a grid centered between two collapsible outer columns */
.grid {
  display: grid;
}

@media (min-width: 45em) {
  .grid {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns:
      minmax(2rem, 1fr)
      repeat(2, minmax(0, 30rem))
      minmax(2rem, 1fr);
  }

  .grid > *:first-child {
    grid-column: 2;
  }

  .grid > *:last-child {
    grid-column: 3;
  }
}
