.indicator {
  padding: var(--underline-gap, 1rem);
  border-bottom: none;
  border-right: 0.2rem solid rgba(var(--clr-white), 0);
}

.indicator:hover,
.indicator:focus {
  border-color: rgba(var(--clr-white), 0.5);
}

.indicator.indicator--active {
  border-color: rgba(var(--clr-white), 1);
}

@media (min-width: 35rem) {
  .indicator {
    padding: var(--underline-gap, 1rem) 0;
    border-right: none;
    border-bottom: 0.2rem solid rgba(var(--clr-white), 0);
  }
}
