.background.background--destination {
  background: url(../assets/destination/background-destination-mobile.jpg)
    no-repeat center center;
  background-size: cover;
}

.destination-layout > h1 {
  grid-row: 1;
  white-space: nowrap;
  padding-left: 1rem;
}

.destination-layout > h1 span {
  margin-right: 0.5em;
  font-weight: 700;
  color: rgba(var(--clr-white), 0.25);
}

.destination-layout > .navigation {
  grid-row: 2;
}

.destination-layout > .article {
  grid-row: 3;
}

@media (min-width: 560px) {
  .background.background--destination {
    background: url(../assets/destination/background-destination-tablet.jpg)
      no-repeat center center;
    background-size: cover;
  }
}

@media (min-width: 720px) {
  .background.background--destination {
    background: url(../assets/destination/background-destination-desktop.jpg)
      no-repeat center center;
    background-size: cover;
  }
  .destination-layout > h1 {
    justify-self: start;
  }
  .destination-layout > .navigation {
    grid-column: 3;
  }
}
