.crew-page {
}

@media (min-width: 45rem) {
  .crew-page .content {
    grid-row: 1;
  }
  .crew-page .navigation {
    grid-row: 2;
  }
  .crew-page img {
    grid-row-start: 1;
    grid-row-end: span 2;
  }
}
