.destination-layout > h1 {
  grid-row: 1;
  white-space: nowrap;
  padding-left: 1rem;
}

.destination-layout > h1 span {
  margin-right: 0.5em;
  font-weight: 700;
  color: rgba(var(--clr-white), 0.25);
}

.destination-layout > .navigation {
  grid-row: 2;
}

.destination-layout > .section {
  grid-row: 3;
}

@media (min-width: 45rem) {
  .destination-layout > h1 {
    justify-self: start;
  }
  .destination-layout > .navigation {
    grid-column: 3;
  }
}
