.background.background--home {
  background-size: cover;
  background-position: bottom center;
  background-image: url(../assets/home/background-home-mobile.jpg);
}

@media (min-width: 560px) {
  .background.background--home {
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 720px) {
  .background.background--home {
    background-size: cover;
    background-position: right center;
    background-image: url(../assets/home/background-home-desktop.jpg);
  }
}

.grid-container--home {
  padding-bottom: max(6rem, 15vh);
  align-items: end;
}
