.background.background--home {
  background: url(../assets/home/background-home-mobile.jpg) no-repeat center
    center;
  background-size: cover;
}

.home-page h1 {
  padding-top: 4rem;
  text-align: center;
}

.home-page p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  text-align: center;
}

@media (min-width: 35rem) {
  .background.background--home {
    background: url(../assets/home/background-home-tablet.jpg) no-repeat center
      center;
    background-size: cover;
  }
}

@media (min-width: 45rem) {
  .background.background--home {
    background: url(../assets/home/background-home-desktop.jpg) no-repeat center
      center;
    background-size: cover;
  }
  .home-page h1 {
    padding-top: 4rem;
    text-align: left;
  }
  .home-page p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    text-align: left;
  }
  .home-page .button {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-bottom: 4rem;
  }
}
