/* use the full view height for our content below the header */
.root-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr;

  /* border: solid 1px red; */
}

.root-layout main {
  /* background-color: red; */
}
