.container {
  width: 100%;
  height: 100vh;
  background: url(../assets/home/background-home-mobile.jpg) no-repeat center
    center;
  background-size: cover;
}

.main {
  display: grid;
  grid-template-rows: min-content 1fr;
}

@media (min-width: 35rem) {
  .container {
    background: url(../assets/home/background-home-tablet.jpg) no-repeat center
      center;
  }
}

@media (min-width: 45rem) {
  .container {
    background: url(../assets/home/background-home-desktop.jpg) no-repeat center
      center;
  }
}
