.background.background--tech {
  background-size: cover;
  background-position: bottom center;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

.grid-container--tech {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "article";
}

.grid-container--tech > .numbered-title {
  grid-area: title;
}

.grid-container--tech > picture {
  grid-area: image;
  margin-inline: -1rem;
}

.grid-container--tech > picture > img {
  width: 100vw;
}

.grid-container--tech > article {
  grid-area: article;
  flex-direction: column;
}

.grid-container--tech > article h2 {
  white-space: nowrap;
}

.grid-container--tech .numbered-indicators > button {
  width: 4rem;
}

@media (min-width: 560px) {
  .background.background--tech {
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .grid-container--tech > .numbered-title {
    justify-self: start;
    padding-left: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 720px) {
  .background.background--tech {
    background-size: cover;
    background-position: right center;
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }

  .grid-container--tech {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      "article article image image";
  }

  .grid-container--tech > picture {
    grid-area: image;
    margin-left: 0;
  }

  .grid-container--tech > article {
    flex-direction: row;
    --gap: 5rem;
  }

  .grid-container--tech > article .numbered-indicators {
    flex-direction: column;
  }

  /* .grid-container--tech > .dot-indicators {
    justify-self: start;
  }

  .grid-container--tech > picture {
    align-self: end;
  } */
}
