.background.background--tech {
  background-size: cover;
  background-position: bottom center;
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

.grid-container--tech {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "nav"
    "content";
}

.grid-container--tech > .numbered-title {
  grid-area: title;
}

.grid-container--tech > picture {
  grid-area: image;
  margin-inline: -1rem;
}

.grid-container--tech > picture > img {
  width: 100vw;
}

.grid-container--tech > .numbered-indicators {
  grid-area: nav;
}

.grid-container--tech .numbered-indicators > button {
  width: 4rem;
}

.grid-container--tech > .tech-details {
  grid-area: content;
}

@media (min-width: 560px) {
  .background.background--tech {
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .grid-container--tech > .numbered-title {
    justify-self: start;
    padding-left: 2rem;
    margin-top: 3rem;
  }
}

@media (min-widthxxx: 720px) {
  .background.background--tech {
    background-size: cover;
    background-position: right center;
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }

  .grid-container--tech {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". content image ."
      ". dots image .";
  }

  .grid-container--tech > .dot-indicators {
    justify-self: start;
  }

  .grid-container--tech > picture {
    align-self: end;
  }
}
