.crew-navbar {
  /* we use this element as a spacer
  and put the content in the middle column */
  display: grid;
  gap: 0;
  grid-template-columns:
    minmax(0, 6rem)
    auto
    minmax(0, 6rem);
}

.crew-navbar ul {
  grid-column: 2;

  list-style: none;
  display: grid;
  justify-content: space-between;
  gap: 1.5rem;

  /* the outer 2 columns are just for spacing as we resize */
  grid-template-columns: repeat(4, auto);
}

.crew-navbar .nav-link {
  --underline-gap: 0.5rem;
  text-decoration: none;
}

.crew-navbar .dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(var(--clr-white), 0.2);
}

.crew-navbar .dot:hover,
.crew-navbar .dot:focus {
  background-color: rgba(var(--clr-white), 0.5);
}

.crew-navbar .dot.dot--active {
  background-color: rgb(--clr-white);
  background-color: white;
}

@media (min-width: 560px) {
  /* we use this element as a spacer
  and put the content in the middle column */
  .crew-navbar {
    display: grid;
    gap: 0;
    grid-template-columns:
      minmax(0, 6rem)
      auto
      minmax(0, 6rem);
  }
  .crew-navbar ul {
    grid-column: 2;

    list-style: none;
    display: grid;
    justify-content: space-between;
    gap: 1.5rem;

    /* the outer 2 columns are just for spacing as we resize */
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 720px) {
  .crew-navbar ul {
    gap: 4rem;
  }
}
