.dot-indicators {
  --gap: 2rem;
}

.dot-indicators > * {
  border: 0;
  padding: 0.5em;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: rgb(var(--clr-white), 25%);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgb(var(--clr-white), 50%);
}

.dot-indicators > [aria-selected="true"] {
  background-color: rgb(var(--clr-white), 100%);
}
