.nav {
  display: none;
  backdrop-filter: blur(5px);
}

.nav.navOpen {
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.nav.navOpen ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-top: 8rem;
}

@media (min-width: 35rem) {
  .nav {
    display: block;
  }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
