.nav {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navLink {
  text-decoration: none;
}

.navLink.navLinkActive {
  text-decoration: underline;
}
