.nav {
  display: none;
}

.nav.navOpen {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--dark-violet-color);
  border-radius: 0.5rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink.navLinkActive {
  text-decoration: underline;
}
