.container {
  display: flex;
  flex-direction: row;
}

.id {
  color: var(--white-color);
  font: var(--nav-semi-bold-27-space-font);
  letter-spacing: 0.27rem;
}

.label {
  text-transform: uppercase;

  color: var(--white-color);
  font: var(--nav-regular-27-space-font);
  letter-spacing: 0.27rem;

  margin-left: 2rem;
  margin-right: 2rem;
}

.indicator {
  height: 2rem;
  width: 0.1rem;
  width: 1rem;
  background-color: var(--black-color);

  margin-left: auto;
}

.indicator.indicatorActive {
  background-color: var(--white-color);
}
