.container {
  display: flex;
  flex-direction: row;
}

.id {
  color: var(--white-color);
  font: var(--nav-semi-bold-27-space-font);
  /* font-weight: bold; */
  /* font-weight: var(--regular-fontweight); */
  letter-spacing: 0.27rem;
}

.navLink {
  color: var(--white-color);
  text-decoration: none;
  font: var(--nav-regular-27-space-font);
  text-transform: uppercase;
  /* font-weight: var(--regular-fontweight); */
  letter-spacing: 0.27rem;
}

.navLink.navLinkActive {
  text-decoration: underline;
}
