/* .main-navigation {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.main-navigation > .logo {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.main-navigation .menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  height: 2rem;
  width: 2rem;
  cursor: pointer;

  margin: 1.5rem;
}

@media (min-width: 560px) {
  .main-navigation .menu {
    display: none;
  }
} */

.primary-header .mobile-nav-toggle {
  display: none;
}

@media (max-width: 560px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2000;
    right: 2rem;
    top: 3rem;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 3rem;
    aspect-ratio: 1;
  }

  .primary-header .mobile-nav-toggle.open {
    background-image: url(../assets/shared/icon-close.svg);
  }
}
