.primary-header .mobile-nav-toggle {
  display: none;
}

.primary-header .logo {
  background-color: red;
  margin: 2.4rem clamp(2.4rem, 5vw, 5.5rem);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 560px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2000;
    right: 2rem;
    top: 3rem;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    aspect-ratio: 1;
  }

  .primary-header .mobile-nav-toggle[data-is-menu-open="true"] {
    background-image: url(../assets/shared/icon-close.svg);
  }

  .primary-header .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}

@media (min-width: 720px) {
  .primary-header {
    position: relative;
  }

  .primary-header .nav {
    order: 2;
  }

  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    background: rgba(var(--clr-white), 25%);
    width: 100%;
    order: 1;
    margin-right: -2.4rem;
  }
}
