.primary-navigation {
  --gap: clamp(2.4rem, 5vw, 8rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(var(--clr-black), 95%);
}

@supports (backdrop-filter: blur(5rem)) {
  .primary-navigation {
    background: rgba(var(--clr-white), 2%);
    backdrop-filter: blur(5rem);
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}

@media (max-width: 560px) {
  .primary-navigation {
    --underline-gap: 0.5rem;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: min(20rem, 15vh) 2rem;
    margin: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }

  .primary-navigation[data-is-open="true"] {
    transform: translateX(0);
  }

  .primary-navigation .underline-indicator.active {
    border: 0;
  }
}

@media (min-width: 560px) {
  .primary-navigation {
    padding-inline: clamp(3rem, 5vw, 10rem);
  }
}

@media (min-width: 560px) and (max-width: 719.999px) {
  .primary-navigation a > span {
    display: none;
  }
}

@media (min-width: 720px) {
  .primary-navigation {
    margin-block: 3.2rem;
  }
}
