/***************************/
/* places a colored border */
/* solely for debugging    */
/***************************/

div,
header,
nav,
img {
  border: solid 1px red;
}

@media (min-width: 560px) {
  div,
  header,
  nav,
  img {
    border: solid 1px green;
  }
}

@media (min-width: 720px) {
  div,
  header,
  nav,
  img {
    border: solid 1px blue;
  }
}
