@import "./reset.css";
/* @import "./debug-borders.css"; */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;600&family=Bellefair&display=swap");

/*********************/
/* custom properties */
/* start             */
/*********************/

:root {
  /* colors */
  --clr-black: 11, 13, 23;
  --clr-mauve: 208, 214, 249;
  --clr-white: 255, 255, 255;

  /* fonts */

  /* font sizes asuming 1rem = 10px */
  --fs-900: clamp(8rem, 8vw + 1rem, 15rem);
  --fs-800: 5.6rem;
  --fs-700: 2.4rem;
  --fs-600: 1.6rem;
  --fs-500: 1.6rem;
  --fs-400: 1.5rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;

  /* font families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 560px) {
  :root {
    /* font sizes asuming 1rem = 10px */
    --fs-800: 8rem;
    --fs-700: 4rem;
    --fs-600: 2.4rem;
    --fs-500: 2rem;
    --fs-400: 1.6rem;
  }
}

@media (min-width: 720px) {
  :root {
    /* font sizes asuming 1rem = 10px */
    --fs-800: 10rem;
    --fs-700: 5.6rem;
    --fs-600: 3.2rem;
    --fs-500: 2.8rem;
    --fs-400: 1.8rem;
  }
}

/*********************/
/* custom properties */
/* end               */
/*********************/

/*******************/
/* utility classes */
/* start           */
/*******************/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.d-block {
  display: block;
}

/* add a bottom margin to all children except last */
.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-space, 1rem);
}

.bg-dark {
  background-color: rgb(var(--clr-black));
}
.bg-light {
  background-color: rgb(var(--clr-white));
}
.bg-accent {
  background-color: rgb(var(--clr-mauve));
}

.text-dark {
  color: rgb(var(--clr-black));
}
.text-light {
  color: rgb(var(--clr-white));
}
.text-accent {
  color: rgb(var(--clr-mauve));
}

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}
.uppercase {
  text-transform: uppercase;
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/*******************/
/* utility classes */
/* end             */
/*******************/

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: rgb(var(--clr-black));
  color: rgb(var(--clr-white));
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
